<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Malware Zoo
    </title>
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        color: #588c7e;
        font-family: monospace;
        font-size: 16px;
        text-align: left;
        border: 1px solid;
        border-color: black;
        }
        th {
        background-color: #588c7e;
        color: white;
        border: 1px solid;
        border-color: black;
        }
        tr {
            border: 1px solid;
            border-color: black;
        }
        td {
            border: 1px solid;
            border-color: black;
        }
        h1{
          color: #588c7e;
        }
    </style>
  </head>
  <body>

    <br>
        <h1>Malware Zoo</h1>
        <form id = "uploadForm" enctype="multipart/form-data">
            <input type="file" id = "myFiles" accept="" multiple />
            <button>Submit</button>
        </form>
        <h2></h2>
        <h3></h3>
    <script>
        const form = document.getElementById('uploadForm')
        const sendFiles = async () => {
            //object
            const myFiles = document.getElementById('myFiles').files
            const formData = new FormData()
            Object.keys(myFiles).forEach(key=>{
                formData.append(myFiles.item(key).name, myFiles.item(key))
            })
            const response = await fetch('http://localhost:3000/upload',{
                method: 'POST',
                body: formData
            })
            const json = await response.json()

            const h2 = document.querySelector('h2')
            h2.textContent = `Status: ${json?.status}`

            const h3 = document.querySelector('h3')
            h3.textContent = json?.message

            console.log(json)
        }

        form.addEventListener('submit', (e) =>{
            e.preventDefault()
            sendFiles()
        })
    </script>



    <div class="container mt-4">
      <% if (messages.success) { %>
      <p class="alert alert-success mt-4"><%- messages.success %></p>
      <% } %>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th>#Id</th>
            <th>name</th>
            <th>sha1</th>
            <th>md5</th>
            <th>sha256</th>
            <th>imphash</th>
            <th>imports</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
          <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= data[i].name%></td>
            <td><%= data[i].sha1%></td>
            <td><%= data[i].md5%></td>
            <td><%= data[i].sha256%></td>
            <td><%= data[i].imphash%></td>
            <td><%= data[i].imports%></td>
          </tr>
          <% } }else{ %>
          <tr>
            <td>No data ever existed.</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>